In [3]:
%matplotlib widget
import numpy as np
import pandas as pd
import geopandas as gpd

In [4]:
!ls

gadm36_FRA.gpkg        square_threshold.csv   visualise.ipynb
result.ipynb           triangle_threshold.csv

In [5]:
geodb = gpd.read_file("gadm36_FRA.gpkg")

In [7]:
geodb.describe()

       GID_0  NAME_0                                           geometry
count      1       1                                                  1
unique     1       1                                                  1
top      FRA  France  MULTIPOLYGON (((9.25763988 41.34902954, 9.2576...
freq       1       1                                                  1

In [8]:
geodb.head(1).T

                                                          0
GID_0                                                   FRA
NAME_0                                               France
geometry  MULTIPOLYGON (((9.25763988 41.34902954, 9.2576...