In [5]:
import numpy as np
import pandas as pd
import altair as alt
from os.path import join
from pathlib import Path

In [20]:
df = pd.read_csv('triangle_threshold.csv')

In [21]:
df

   no_of_subgraphs  threshold  iterations
0            470.0        0.1          10
1              NaN        0.2           8
2              NaN        0.3           7
3              NaN        0.4           6
4              NaN        0.5           5
5              NaN        0.6           5
6              NaN        0.7           4
7              NaN        0.8           4
8              NaN        0.9           4
9            230.0        1.0           3

In [23]:
# interpolate missing values (using numpy)
df = df.interpolate(method='linear', limit_direction='forward', axis=0)
df

   no_of_subgraphs  threshold  iterations
0       470.000000        0.1          10
1       443.333333        0.2           8
2       416.666667        0.3           7
3       390.000000        0.4           6
4       363.333333        0.5           5
5       336.666667        0.6           5
6       310.000000        0.7           4
7       283.333333        0.8           4
8       256.666667        0.9           4
9       230.000000        1.0           3